{% extends "base.html" %}

  {% block content %}
  {% load staticfiles %}

	<h1>{{album.name}}</h1>
  <p class="text-right"><span class="label label-info">Sorted by Most Recent.</span></p>
  <div class="row">
    {%for video in album_videos%}
    <div class="col-sm-6 col-xs-12">
      <div class="well well-lg">
        <a href="/album/{{album.id}}/video/{{video.id}}">
          <div class="album-poster" style="background-image:url({{ MEDIA_URL }}/{{video.poster}});"></div>
        </a>
        <h4>{{video.name}}</h4>
        {% autoescape off %}
        <p>{{video.description}}</p>
        {%endautoescape%}
      </div>
    </div>
  {%if forloop.counter|divisibleby:2%}
  </div>
  <div class="row">
  {%endif%}
  {%endfor%}
  </div>

{%endblock content%}
