{% extends "base.html" %}

  {% block content %}
  {% load staticfiles %}

  <div class="row well well-lg">
    <div class="col-sm-6 col-xs-12">
      <h2>Video Tags</h2>
      {%for tag in tag_list%}
        <a class="btn btn-primary btn-lg btn-margin" href="/tag/{{tag.name}}" role="button">{{tag.name}}</a>
      {%endfor%}
    </div>
    <div class="col-sm-6 col-xs-12">
      <h2>Newly added</h2>
        {%for video in most_recent%}
          <a href="/recent/{{video.id}}">
            <img class="album-poster-recent" src="{{ MEDIA_URL }}{{video.poster}}">
          </a>
        {%endfor%}
    </div>
  </div>

  <h2>Current Video Albums</h2>
  <p class="text-right"><span class="label label-info">Sorted by Most Recently added.</span></p>
	{%for album in albums%}
  <div class="row well well-lg">
		<div class="col-md-4 col-sm-4 col-xs-12">
      <a href="/album/{{album.id}}"><img src="{{ MEDIA_URL }}/{{album.poster}}" class="img-responsive center-block" /></a>
    </div>
    <div class="col-md-8 col-sm-8 col-xs-12">
      <a href="/album/{{album.id}}"><h2>{{album.name}}</h2></a>
      {% autoescape off %}
      <p>{{album.description}}</p>
      {%endautoescape%}
    </div>
  </div>
  {%empty%}
  	<p>No albums created.</p>
  {%endfor%}

{%endblock content%}
