{% extends "base.html" %}

  {% block content %}
  {% load staticfiles %}

  <div class="row well well-lg">
    {% if messages %}
    <div class="alert alert-success" role="alert">
          {% for message in messages %}
          <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
          {% endfor %}
    </div>
    {% endif %}
    <div class="col-sm-6 col-xs-12">
      <h2>Video Tags</h2>
      {%for tag in tag_list%}
        <a class="btn btn-primary btn-lg btn-margin" href="/tag/{{tag.name}}" role="button">{{tag.name}}</a>
      {%endfor%}
    </div>
    <div class="col-sm-6 col-xs-12">
      <h2>Newly added</h2><p class="text-right"><span class="label label-info">Sorted by Most Recently shot.</span></p>
        {%for shot in most_recent%}
          {%if shot.get_cname == "video"%}
            <a href="/recent/video/{{shot.id}}">
              <img class="album-poster-recent" src="{{ MEDIA_URL }}{{shot.poster}}">
            </a>
          {%elif shot.get_cname == "vr_shot"%}
            <a href="/recent/vr/{{shot.id}}">
              <img class="album-poster-recent" src="{{ MEDIA_URL }}{{shot.poster}}">
            </a>
          {%elif shot.get_cname == "external_video"%}
            <a href="/recent/external/{{shot.id}}">
              <img class="album-poster-recent" src="{{ MEDIA_URL }}{{shot.poster}}">
            </a>
          {%endif%}
        {%endfor%}
    </div>
  </div>

  <h2>Current Video Albums</h2>
	{%for album in albums%}
  <div class="row well well-lg">
		<div class="col-md-4 col-sm-4 col-xs-12">
      <a href="/album/{{album.id}}"><img src="{{ MEDIA_URL }}/{{album.poster}}" class="img-responsive center-block" /></a>
    </div>
    <div class="col-md-8 col-sm-8 col-xs-12">
      <a href="/album/{{album.id}}"><h2>{{album.name}}</h2></a>
      {% autoescape off %}
      <p>{{album.description}}</p>
      {%endautoescape%}
    </div>
  </div>
  {%empty%}
  	<p>No albums created.</p>
  {%endfor%}

{%endblock content%}
