{% extends "base.html" %}

{% block content %}
{% load staticfiles %}
{% load widget_tweaks %}

<!-- Start Video Upload section -->

<div class="row well well-lg">
    <div class="col-md-12 col-sm-12 col-xs-12">
        {% if messages %}
        <div class="alert alert-success" role="alert">
            {% for message in messages %}
            <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}
        <h2>Upload a New Video</h2>
        <p><a href="http://www.latlong.net/" target="_blank">Latitude/Longtiude Help</a></p>
        <p><a href="#">Create new album</a></p>
        <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {%if upload_form.non_field_errors%}
            <div class="alert alert-danger" role="alert">
                {{ upload_form.non_field_errors }}
            </div>
            {% endif %}
            <div class="form-group">
                {%if upload_form.tags.errors%}
                <div class="alert alert-danger" role="alert">
                    {{ upload_form.tags.errors }}
                </div>
                {% endif %}
                <h5><strong>Tags</strong></h5>
                {% for box in upload_form.tags %}
                <div class="checkbox col-sm-2">
                    <label for="{{ box.id_for_label }}">
                        {{ box.tag }}
                        {{ box.choice_label }}
                    </label>
                </div>
                {% endfor %}
            </div>
            <div class="form-group">
                {%if upload_form.album.errors%}
                <div class="alert alert-danger" role="alert">
                    {{ upload_form.album.errors }}
                </div>
                {% endif %}
                <h5><strong>Albums</strong></h5>
                {% for a in upload_form.album %}
                <div class="checkbox col-sm-2">
                    <label for="{{ a.id_for_label }}">
                        {{ a.tag }}
                        {{ a.choice_label }}
                    </label>
                </div>
                {% endfor %}
            </div>
            <div class="well">
                <div class="form-group">
                    {%if upload_form.name.errors%}
                    <div class="alert alert-danger" role="alert">
                        {{ upload_form.name.errors }}
                    </div>
                    {% endif %}
                    <label class="col-sm-2 control-label" for="{{ upload_form.name.id_for_label }}">Name</label>
                    <div class="col-sm-6">
                        {{ upload_form.name|add_class:"form-control" }}
                    </div>
                </div>
                <div class="form-group">
                    {%if upload_form.date_shot.errors%}
                    <div class="alert alert-danger" role="alert">
                        {{ upload_form.date_shot.errors }}
                    </div>
                    {% endif %}
                    <label class="col-sm-2 control-label" for="{{ upload_form.date_shot.id_for_label }}">Date
                        Taken</label>
                    <div class="col-sm-6">
                        {{ upload_form.date_shot }}
                    </div>
                </div>
                <div class="form-group">
                    {%if upload_form.description.errors%}
                    <div class="alert alert-danger" role="alert">
                        {{ upload_form.description.errors }}
                    </div>
                    {% endif %}
                    <label class="col-sm-2 control-label"
                           for="{{ upload_form.description.id_for_label }}">Description</label>
                    <div class="col-sm-6">
                        {{ upload_form.description|add_class:"form-control" }}
                    </div>
                </div>
                <div class="form-group">
                    {%if upload_form.lat.errors%}
                    <div class="alert alert-danger" role="alert">
                        {{ upload_form.lat.errors }}
                    </div>
                    {% endif %}
                    <label class="col-sm-2 control-label" for="{{ upload_form.lat.id_for_label }}">Latitude</label>
                    <div class="col-sm-6">
                        {{ upload_form.lat }}
                    </div>
                </div>
                <div class="form-group">
                    {%if upload_form.lon.errors%}
                    <div class="alert alert-danger" role="alert">
                        {{ upload_form.lon.errors }}
                    </div>
                    {% endif %}
                    <label class="col-sm-2 control-label" for="{{ upload_form.lon.id_for_label }}">Longitude</label>
                    <div class="col-sm-6">
                        {{ upload_form.lon }}
                    </div>
                </div>
                <button type="button" id="home_lat_lon" class="btn btn-default">Set Home</button>
                <div class="form-group">
                    {%if upload_form.poster.errors%}
                    <div class="alert alert-danger" role="alert">
                        {{ upload_form.poster.errors }}
                    </div>
                    {% endif %}
                    <label class="col-sm-2 control-label" for="{{ upload_form.poster.id_for_label }}">Poster</label>
                    <div class="col-sm-6">
                        {{ upload_form.poster }}
                    </div>
                </div>
                <div class="form-group">
                    {%if upload_form.video_file.errors%}
                    <div class="alert alert-danger" role="alert">
                        {{ upload_form.video_file.errors }}
                    </div>
                    {% endif %}
                    <label class="col-sm-2 control-label" for="{{ upload_form.video_file.id_for_label }}">Video
                        File</label>
                    <div class="col-sm-6">
                        {{ upload_form.video_file }}
                    </div>
                </div>
            </div>
            <input class="btn btn-primary btn-lg" type="submit" name="save_video" value="Save and Add Another"/>
            <input class="btn btn-primary btn-lg" type="submit" name="save_video_and_main"
                   value="Save and Back to Main"/>
        </form>
    </div>
</div>

<!-- End Video Upload section -->

<!-- Start VR Upload section -->

<div class="row well well-lg">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <h2>Upload a New VR Shot</h2>
        <p><a href="http://www.latlong.net/" target="_blank">Latitude/Longtiude Help</a></p>
        <p><a href="#">Create new album</a></p>
        <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {%if upload_vr_form.non_field_errors%}
            <div class="alert alert-danger" role="alert">
                {{ upload_vr_form.non_field_errors }}
            </div>
            {% endif %}
            <div class="form-group">
                {%if upload_vr_form.tags.errors%}
                <div class="alert alert-danger" role="alert">
                    {{ upload_vr_form.tags.errors }}
                </div>
                {% endif %}
                <h5><strong>Tags</strong></h5>
                {% for box2 in upload_vr_form.tags %}
                <div class="checkbox col-sm-2">
                    <label for="{{ box2.id_for_label }}">
                        {{ box2.tag }}
                        {{ box2.choice_label }}
                    </label>
                </div>
                {% endfor %}
            </div>
            <div class="form-group">
                {%if upload_vr_form.album.errors%}
                <div class="alert alert-danger" role="alert">
                    {{ upload_vr_form.album.errors }}
                </div>
                {% endif %}
                <h5><strong>Albums</strong></h5>
                {% for a2 in upload_vr_form.album %}
                <div class="checkbox col-sm-2">
                    <label for="{{ a2.id_for_label }}">
                        {{ a2.tag }}
                        {{ a2.choice_label }}
                    </label>
                </div>
                {% endfor %}
            </div>
            <div class="well">
                <div class="form-group">
                    {%if upload_vr_form.name.errors%}
                    <div class="alert alert-danger" role="alert">
                        {{ upload_vr_form.name.errors }}
                    </div>
                    {% endif %}
                    <label class="col-sm-2 control-label" for="{{ upload_vr_form.name.id_for_label }}">Name</label>
                    <div class="col-sm-6">
                        {{ upload_vr_form.name|add_class:"form-control" }}
                    </div>
                </div>
                <div class="form-group">
                    {%if upload_vr_form.date_shot.errors%}
                    <div class="alert alert-danger" role="alert">
                        {{ upload_vr_form.date_shot.errors }}
                    </div>
                    {% endif %}
                    <label class="col-sm-2 control-label" for="{{ upload_vr_form.date_shot.id_for_label }}">Date
                        Taken</label>
                    <div class="col-sm-6">
                        {{ upload_vr_form.date_shot }}
                    </div>
                </div>
                <div class="form-group">
                    {%if upload_vr_form.description.errors%}
                    <div class="alert alert-danger" role="alert">
                        {{ upload_vr_form.description.errors }}
                    </div>
                    {% endif %}
                    <label class="col-sm-2 control-label"
                           for="{{ upload_vr_form.description.id_for_label }}">Description</label>
                    <div class="col-sm-6">
                        {{ upload_vr_form.description|add_class:"form-control" }}
                    </div>
                </div>
                <div class="form-group">
                    {%if upload_vr_form.lat.errors%}
                    <div class="alert alert-danger" role="alert">
                        {{ upload_vr_form.lat.errors }}
                    </div>
                    {% endif %}
                    <label class="col-sm-2 control-label" for="{{ upload_vr_form.lat.id_for_label }}">Latitude</label>
                    <div class="col-sm-6">
                        {{ upload_vr_form.lat }}
                    </div>
                </div>
                <div class="form-group">
                    {%if upload_vr_form.lon.errors%}
                    <div class="alert alert-danger" role="alert">
                        {{ upload_vr_form.lon.errors }}
                    </div>
                    {% endif %}
                    <label class="col-sm-2 control-label" for="{{ upload_vr_form.lon.id_for_label }}">Longitude</label>
                    <div class="col-sm-6">
                        {{ upload_vr_form.lon }}
                    </div>
                </div>
                <button type="button" id="home_lat_lon" class="btn btn-default">Set Home</button>
                <div class="form-group">
                    {%if upload_vr_form.poster.errors%}
                    <div class="alert alert-danger" role="alert">
                        {{ upload_vr_form.poster.errors }}
                    </div>
                    {% endif %}
                    <label class="col-sm-2 control-label" for="{{ upload_vr_form.poster.id_for_label }}">Poster</label>
                    <div class="col-sm-6">
                        {{ upload_vr_form.poster }}
                    </div>
                </div>
                <div class="form-group">
                    {%if upload_vr_form.vr_file.errors%}
                    <div class="alert alert-danger" role="alert">
                        {{ upload_vr_form.vr_file.errors }}
                    </div>
                    {% endif %}
                    <label class="col-sm-2 control-label" for="{{ upload_form.video_file.id_for_label }}">VR Shot
                        File</label>
                    <div class="col-sm-6">
                        {{ upload_vr_form.vr_file }}
                    </div>
                </div>
            </div>
            <input class="btn btn-primary btn-lg" type="submit" name="save_vr" value="Save and Add Another"/>
            <input class="btn btn-primary btn-lg" type="submit" name="save_vr_and_main"
                   value="Save and Back to Main"/>
        </form>
    </div>
</div>

<!-- End VR Upload section -->

{%endblock content%}
