{% extends "base.html" %}

  {% block content %}
  {% load staticfiles %}
  {% load widget_tweaks %}

  <div class="row well well-lg">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <h2>Upload a new video</h2>
        <form action="" method="post">
          {% csrf_token %}
          {{ upload_form.non_field_errors }}
          <div class="fieldWrapper">
              {{ upload_form.name.errors }}
              <label for="{{ upload_form.name.id_for_label }}">Title:</label>
              {{ upload_form.name }}
          </div>
          <div class="fieldWrapper">
              {{ upload_form.video_date.errors }}
              <label for="{{ upload_form.video_date.id_for_label }}">Date Taken:</label>
              {{ upload_form.video_date|add_class:"datepicker" }}
          </div>
          <div class="fieldWrapper">
              {{ upload_form.poster.errors }}
              <label for="{{ upload_form.poster.id_for_label }}">Poster:</label>
              {{ upload_form.poster }}
          </div>
          <div class="fieldWrapper">
              {{ upload_form.video_file.errors }}
              <label for="{{ upload_form.video_file.id_for_label }}">Video File:</label>
              {{ upload_form.video_file }}
          </div>
          <div class="fieldWrapper">
              {{ upload_form.description.errors }}
              <label for="{{ upload_form.description.id_for_label }}">Description:</label>
              {{ upload_form.description }}
          </div>
          <div class="fieldWrapper">
              {{ upload_form.tags.errors }}
              <label for="{{ upload_form.tags.id_for_label }}">Tags:</label>
              {{ upload_form.tags }}
          </div>
          <div class="fieldWrapper">
              {{ upload_form.lat.errors }}
              <label for="{{ upload_form.lat.id_for_label }}">Latitude:</label>
              {{ upload_form.lat }}
          </div>
          <div class="fieldWrapper">
              {{ upload_form.lon.errors }}
              <label for="{{ upload_form.lon.id_for_label }}">Longitude:</label>
              {{ upload_form.lon }}
          </div>
          <div class="fieldWrapper">
              {{ upload_form.album.errors }}
              <label for="{{ upload_form.album.id_for_label }}">Album:</label>
              {{ upload_form.album }}
          </div>
          <input type="submit" value="Submit" />
        </form>
        <p><a href="http://www.latlong.net/" target="_blank">Latitude/Longtiude Help</a></p>
    </div>
  </div>

{%endblock content%}
