{% extends "base.html" %}

  {% block content %}
  {% load staticfiles %}

  <ol class="breadcrumb">
    {%if album_view%}
      <li>Albums</li>
      <li><a href="/album/{{album.id}}">{{album.name}}</a></li>
    {%elif tag_view%}
      <li>Tag</li>
      <li><a href="/tag/{{the_tag.name}}">{{the_tag.name}}</a></li>
    {%endif%}
    <li class="active">{{video.name}}</li>
  </ol>

  <div class="row">
    <div class="row well well-lg">
      <div class="col-md-6 col-sm-8 col-xs-12">
        <div class="embed-responsive embed-responsive-16by9">
          <video id="my-video" class="video-js embed-responsive-item" controls preload="auto" width="640" height="264"
          poster="{{ MEDIA_URL }}/{{video.poster}}" data-setup="{}">
            <source src="{{ MEDIA_URL }}{{video.video_file}}" type='video/mp4'>
            <p class="vjs-no-js">
              To view this video please enable JavaScript, and consider upgrading to a web browser that
              <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
            </p>
          </video>
        </div>
      </div>
      <div class="col-md-6 col-sm-4 col-xs-12">
        <h3>{{video.name}}</h3>
        {% autoescape off %}
        <p>{{video.description}}</p>
        {%endautoescape%}
        <p>Date Taken: <strong>{{video.video_date}}</strong></p>
        <strong>Tags</strong>
        {%for tag in video_tags%}
          <a class="btn btn-default" href="/tag/{{tag.name}}" role="button">{{tag.name}}</a>
        {%endfor%}
      </div>
    </div>
  </div>

{%endblock content%}
